@font-face {
	font-family: 'IBMPlexSans-Bold';
	src: url('fonts/IBMPlexSans-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IBMPlexSans-Regular';
	src: url('fonts/IBMPlexSans-Regular.woff2') format('woff2');
}