html, body {
	height: 100%;
}

body {
	font-family: $font-primary;
	font-size: $body;
	-webkit-font-smoothing: antialiased;
}

input {
	padding: 3px 10px;
	border-bottom: 1px solid $gray-300;
	color: $gray-900;

	&:hover {
		border-bottom-color: $primary-900;
	}
}