// Colors
$gray-100: #fafafa;
$gray-300: #ccc;
$gray-900: #565656;
$primary-100: #ffe8e5;
$primary-300: #ffc4bd;
$primary-900: #ed6a5a;
$white: #fff;

// Fonts
$font-primary: 'IBMPlexSans', Helvetica, sans-serif;

// Typographic scale
$small: 10px;
$body: 11px;
$xbody: 13px;
$regular: 14px;
$medium: 18px;
$large: 24px;
$xlarge: 74px;