// Colors
$primary-900: #ed6a5a;
$white: #fff;

// Fonts
$regular: 'IBMPlexSans-Regular', Helvetica, sans-serif;
$bold: 'IBMPlexSans-Bold', Helvetica, sans-serif;

// Typographic scale
$medium: 18px;
$large: 24px;
$xlarge: 74px;