$sidebar-width: 382px;

.main-layout {
	display: flex;
	flex-direction: column;
}

.main-layout__main {
	display: flex;
	overflow: hidden;
}

.main-layout__sidebar {
	flex-shrink: 0;
	flex-basis: $sidebar-width;
	background: $gray-100;
	border: 1px solid $gray-300;

	.has-sidebar-collapsed & {
		display: none;
	}
}

.main-layout__content {
	flex-grow: 1;
	overflow: auto;
}