.tabs {
	margin-bottom: 7px;
	border-bottom: 1px solid $gray-300;
}

.tabs__item {
	display: inline-block;
}

.tabs__link {
	position: relative;
	top: 1px;
	display: block;
	padding: 3px;
	margin-right: 20px;
	color: $gray-900;
	font-size: $regular;

	&.is-selected {
		border-bottom: 3px solid $primary-900;
	}
}