.tooltip {
	position: relative;
	z-index: 1;
}

.tooltip__dialog {
	--width: 408px;
	--triangle-size: 13px;
	position: absolute;
	width: var(--width);
	top: 40px;
	margin-left: calc(var(--width) / -2.13);
	border: 1px solid $gray-300;
	z-index: 1;
	color: $gray-900;
	background: $white;
	font-size: $regular;
	line-height: 1.71em;

	opacity: 0;
	visibility: hidden;
	transform: translate3d(0, -10px, 0);
	transition: all 300ms;

	.is-visible & {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}

	&:before,
	&:after {
		content: "";
		display: block;
		width: var(--triangle-size);
		position: absolute;
		top: calc(var(--triangle-size) * -1);
		left: 50%;
	}

	&:before {
		top: calc((var(--triangle-size) * -1) - 2px);
		left: calc(50% - 1px);
		border-right: calc(var(--triangle-size) + 1px) solid transparent;
		border-bottom: calc(var(--triangle-size) + 1px) solid $gray-300;
	}

	&:after {
		border-right: var(--triangle-size) solid transparent;
		border-bottom: var(--triangle-size) solid $white;
	}
}

.tooltip__title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: $medium;
	font-weight: 200;
}

.tooltip__close {
	position: absolute;
	top: 5px;
	right: 5px;
}

.tooltip__trigger {
	cursor: pointer;
}